<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.example.midiscope"
        android:versionCode="1"
        android:versionName="1.0">

    <uses-feature android:name="android.software.midi" android:required="true"/>

    <application>
        <activity android:name="MainActivity" android:label="MIDI Scope">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="MidiScope"
            android:permission="android.permission.BIND_MIDI_DEVICE_SERVICE">
            <intent-filter>
                <action android:name="android.media.midi.MidiDeviceService" />
            </intent-filter>
            <meta-data android:name="android.media.midi.MidiDeviceService"
                android:resource="@xml/scope_device_info" />
        </service>
    </application>
</manifest>
