<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileer.midikeyboard"
        android:versionCode="3"
        android:versionName="1.2">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23" />

    <uses-feature android:name="android.software.midi" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher">
        <activity android:name="com.mobileer.midikeyboard.MainActivity" android:label="MIDI Keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
